
.card {
    border-radius: 15px;
    border: none;
}

.card-header {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

.card-footer h2 {
    font-weight: 800;
    letter-spacing: -1px;
}


.btn-primary {
    transition: transform 0.2s;
}

.btn-primary:hover {
    transform: translateY(-2px);
}